# WEEK 1

In [352]:
import pandas as pd
data=[10,20,30,40]
v=pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [354]:
import pandas as pd
data={"akki":[123,432,322],
      "brands":["tata","tcs","wipro"]
     }
df=pd.DataFrame(data)
print(df)

   akki brands
0   123   tata
1   432    tcs
2   322  wipro

In [357]:
import pandas as pd
data={"akki":[123,432,322],
      "brands":["tata","tcs","wipro"]
     }
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

      akki brands
day1   123   tata
day2   432    tcs
day3   322  wipro

In [359]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [360]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [361]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.tail(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [362]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [363]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [364]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df['TransactionID'])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

In [365]:

print(df[['UserID','ProductID']])

   UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [366]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [367]:
filtered_df=df[df['UserID']>3]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3

In [368]:
df.rename(columns={'UserID':'UID'},inplace=True)
print(df)

   TransactionID TransactionDate  UID  ProductID  Quantity
0              1      2010-08-21  7.0          2         1
1              2      2011-05-26  3.0          4         1
2              3      2011-06-16  3.0          3         1
3              4      2012-08-26  1.0          2         3
4              5      2013-06-06  2.0          4         1
5              6      2013-12-23  2.0          5         6
6              7      2013-12-30  3.0          4         1
7              8      2014-04-24  NaN          2         3
8              9      2015-04-24  7.0          4         3
9             10      2016-05-08  3.0          4         4

In [369]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UID                1
ProductID          0
Quantity           0
dtype: int64

In [371]:
print(df)

   TransactionID TransactionDate  UID  ProductID  Quantity
0              1      2010-08-21  7.0          2         1
1              2      2011-05-26  3.0          4         1
2              3      2011-06-16  3.0          3         1
3              4      2012-08-26  1.0          2         3
4              5      2013-06-06  2.0          4         1
5              6      2013-12-23  2.0          5         6
6              7      2013-12-30  3.0          4         1
7              8      2014-04-24  NaN          2         3
8              9      2015-04-24  7.0          4         3
9             10      2016-05-08  3.0          4         4

In [372]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

## 1print summary of transaction data set

In [374]:
print(df.describe(include='all'))

        TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

## 2.print number of records

In [376]:
print("no of records",df.shape[0])

no of records 10

## 3.print number of Attributes

In [378]:
print("no of attributes",df.shape[1])

no of attributes 5

## 4.Get the row names

In [381]:
row_names = df.index
print("Row names:", row_names.tolist())

Row names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 5.Get column names

In [383]:
row_names = df.columns
print("Column names:", row_names.tolist())

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

## 6.view top 10 records

In [387]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

## 7.change the name of column Quantity to Quant

In [389]:
df.rename(columns={'Quantity':'Quant'},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

## 8.Change the name of columns ProductID and UserID

In [391]:
df.rename(columns={'ProductID':'PID','UserID':'UID'},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

## 9.Order the rows of transactions by TransactionId
descending, if ascending then ascending=True

In [393]:
df_sorted = df.sort_values(by=["TransactionID"],
ascending=[False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

## 10.Order the rows of transactions by Quantity ascending, TransactionDate descending

In [395]:
df_sorted = df.sort_values(by=["Quant", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

## 11.Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID

In [397]:
df=df[['PID','Quant','TransactionDate','TransactionID','UID']]
print(df)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

##  12.Make UserID the first column of transactions

In [399]:
df=df[['UID','PID','Quant','TransactionDate','TransactionID']]
print(df)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 13. Extracting arrays from a Data Frame. Get the 2nd column

In [401]:
col=df.iloc[:,1].values
print(col)

[2 4 3 2 4 5 4 2 4 4]

## 14.Get the ProductID Array

In [403]:
pid=df["PID"].values
print(pid)

[2 4 3 2 4 5 4 2 4 4]

In [404]:
pid=df["Quant"].values
print(pid)

[1 1 1 3 1 6 1 3 3 4]

## 16.Row subsetting, subset rows 1,3 and 6

In [406]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

## 17. Subset rows excluding 1, 3, and 6

In [434]:
ss= df.drop(index=[0, 2, 5])
print(ss)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 18. Subset the first three rows

In [437]:
ss3 = df.head(3)
print(ss3)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

 ## 19. Subset the last 2 rows

In [440]:
sl2 = df.tail(2)
print(sl2)

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 20 Subset rows excluding the last 2 rows

In [443]:
ssl2 = df.iloc[:-2]
print(ssl2)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

### 21. Subset rows excluding the first 3 rows

In [446]:
sef3 = df.iloc[3:]
print(sef3)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 22. Subset rows where Quantity>1

In [449]:
ss1 = df[df["Quant"] > 1]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 23. Subset rows where UserID=2

In [452]:
ss1 = df[df["UID"] ==2]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

## 24. Subset rows where Quantity>1 and UserID=2

In [455]:
ss1 = df[(df["Quant"] > 1) & (df["UID"] == 2)]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

## 25. Subset rows where Quantity + UserID is >3

In [458]:
ss1=df[(df["Quant"] + df["UID"]) > 3]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

## 26.Subset rows where an external array, foo, is True

In [461]:
foo = [True, False, True, False,True, False, True, False,True, False]
ea= df[foo]
print(ea)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9

##  27. Subset rows where an external array, bar, is positive

In [464]:
bar=[1,-1,-2,2,3,-3,-4,4,5,-5]
ss1=df[[b>0 for b in bar]]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9

## 28. Subset rows where foo is TRUE or bar is negative

In [467]:
df["foo"] = foo
df["bar"] = bar
ss2 = df[df["foo"] | (df["bar"] < 0)]
print(ss2)

   UID  PID  Quant TransactionDate  TransactionID    foo  bar
0  7.0    2      1      2010-08-21              1   True    1
1  3.0    4      1      2011-05-26              2  False   -1
2  3.0    3      1      2011-06-16              3   True   -2
4  2.0    4      1      2013-06-06              5   True    3
5  2.0    5      6      2013-12-23              6  False   -3
6  3.0    4      1      2013-12-30              7   True   -4
8  7.0    4      3      2015-04-24              9   True    5
9  3.0    4      4      2016-05-08             10  False   -5

## 29.Subset the rows where foo is not TRUE and bar is not negative

In [470]:
ss3 = df[~df["foo"] & (df["bar"] >= 0)]
print(ss3)

   UID  PID  Quant TransactionDate  TransactionID    foo  bar
3  1.0    2      3      2012-08-26              4  False    2
7  NaN    2      3      2014-04-24              8  False    4

## 30. Subset by columns 1 and 3

In [473]:
ss1=df.iloc[:, [0, 2]]
print(ss1)

   UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

## 31. Subset by columns TransactionID and TransactionDate

In [476]:
sst = df[["TransactionID", "TransactionDate"]]
print(sst)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

## 32. Subset by columns TransactionID and TransactionDate with logical operator

In [479]:
subset = df[df['Quant'] > 1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

## 33. Subset columns by a variable list of column names

In [482]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

## 34. Subset columns excluding a variable list of column names

In [485]:
columns_to_exclude = ['Quant', 'PID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   UID TransactionDate  TransactionID    foo  bar
0  7.0      2010-08-21              1   True    1
1  3.0      2011-05-26              2  False   -1
2  3.0      2011-06-16              3   True   -2
3  1.0      2012-08-26              4  False    2
4  2.0      2013-06-06              5   True    3
5  2.0      2013-12-23              6  False   -3
6  3.0      2013-12-30              7   True   -4
7  NaN      2014-04-24              8  False    4
8  7.0      2015-04-24              9   True    5
9  3.0      2016-05-08             10  False   -5

## 35. Inserting and updating values

In [499]:

# 1. Updating a single value: Set the Quantity (Quant) of the first row to 10
df.loc[0, "Quant"] = 10  

# 2. Updating multiple values: Increase all Quantities by 5
df["Quant"] += 5

# 3. Adding a new column: Add a column "Discount" with a default value of 10%
df["Discount"] = 0.10

# 4. Conditional Update: If Quant > 10, set Discount to 15%
df.loc[df["Quant"] > 10, "Discount"] = 0.15

# 5. Insert a new row at index 5
new_row = {
    "TransactionID": 8888, 
    "UID": 45, 
    "TransactionDate": "2024-02-01", 
    "PID": 101, 
    "Quant": 4, 
    "Discount": 0.10  # Default discount value
}

df = pd.concat([df.iloc[:5], pd.DataFrame([new_row]), df.iloc[5:]]).reset_index(drop=True)

# Save the updated DataFrame back to CSV (optional)
df.to_csv("your_updated_file.csv", index=False)  # Replace with your desired file name

# Print the updated DataFrame
print(df.head(10))

    UID  PID  Quant      TransactionDate  TransactionID    foo  bar   Foo  \
0   7.0    2     15  2010-08-21 00:00:00              1   True  1.0   9.0
1   3.0    4      6  2011-05-26 00:00:00              2  False -1.0   7.0
2   3.0    3      6  2011-06-16 00:00:00              3   True -2.0   6.0
3   1.0    2      8  2012-08-26 00:00:00              4  False  2.0   3.0
4   2.0    4      6  2013-06-06 00:00:00              5   True  3.0   6.0
5  45.0  101      4           2024-02-01           8888    NaN  NaN   NaN
6   2.0    5     11  2013-12-23 00:00:00              6  False -3.0   7.0
7   3.0    4      6  2013-12-30 00:00:00              7   True -4.0   7.0
8   NaN    2      8  2014-04-24 00:00:00              8  False  4.0   NaN
9   7.0    4      8  2015-04-24 00:00:00              9   True  5.0  11.0

   Discount
0      0.15
1      0.10
2      0.10
3      0.10
4      0.10
5      0.10
6      0.15
7      0.10
8      0.10
9      0.10

## 36. Convert the TransactionDate column to type Date

In [490]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

UID                       float64
PID                         int64
Quant                       int64
TransactionDate    datetime64[ns]
TransactionID               int64
foo                          bool
bar                         int64
dtype: object

## 37. Insert a new column, Foo=UserID+ProductID

In [501]:
df['Foo'] = df['UID'] + df['PID']
print(df.head())

   UID  PID  Quant      TransactionDate  TransactionID    foo  bar  Foo  \
0  7.0    2     15  2010-08-21 00:00:00              1   True  1.0  9.0
1  3.0    4      6  2011-05-26 00:00:00              2  False -1.0  7.0
2  3.0    3      6  2011-06-16 00:00:00              3   True -2.0  6.0
3  1.0    2      8  2012-08-26 00:00:00              4  False  2.0  3.0
4  2.0    4      6  2013-06-06 00:00:00              5   True  3.0  6.0

   Discount
0      0.15
1      0.10
2      0.10
3      0.10
4      0.10